{% extends "base.html" %}
{% load staticfiles %}

{% block container %}


	{% if msg %}

		<div class="row">

			<div class="col-sm-8 col-sm-offset-2">
					<div class="alert alert-dismissible alert-info" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<p>{{msg}}</p>
				</div>
			</div>

		</div>

	{% endif %}

	<ul>
		{% for eachSong in ownSuggestions %}
			

				<div class="row">
					<div class="col-sm-4">
						<li>
							{{eachSong.song.name}}
							<a href="{{eachSong.song.url}}" target="_blank">
								<i class="glyphicon glyphicon-facetime-video"></i>
							</a>
					</div>
					<div class="col-sm-4">

						<span class="label label-info" data-toggle="tooltip" title="Total Views" data-placement="left">{{eachSong.song.views}}</span>
						<span class="label label-success" data-toggle="tooltip" title="Likes" data-placement="top">{{eachSong.song.likes}}</span>
						<span class="label label-danger" data-toggle="tooltip" title="Dislikes" 
						data-placement="bottom">{{eachSong.song.dislikes}}</span>
						<span class="label label-warning" data-toggle="tooltip" title="Suggested To" data-placement="right">{{eachSong.suggestedTo.username}}</span>
						</li>
					</div>
				</div>
			
		{% endfor %}
	</ul>

{% endblock %}

{% block custom_javascript %}

	<script src="{% static "bower_components/bootstrap/js/tooltip.js" %}"></script>
	<script type="text/javascript">

		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		});

	</script>

{% endblock %}



	

	