{% extends "base.html" %}
{% load staticfiles %}

    {% block container %}



    	<ul>
		{% for eachSong in songs %}
			<li>
			{{eachSong.song.name}}
			<a href="{{eachSong.song.url}}" target="_blank">
				<i class="glyphicon glyphicon-music"></i>
			</a><br/>
			Total Views : {{eachSong.song.views}}&nbsp; Likes : {{eachSong.song.likes}}<i class="glyphicon glyphicon-triangle-top"></i>&nbsp; Dislikes : {{eachSong.song.dislikes}}<i class="glyphicon glyphicon-triangle-bottom"></i>
			</li>
		{% endfor %}
		</ul>

		

		
        {% endblock %}



	

	