<div class="row">
			{% for i in suggestions %}
				
					<div id="suggestion_{{i.id}}">
					<a href="{{i.song.url}}" helper_id={{i.id}} class='suggestedSong'>{{i.song.name}}</a><br/>
			<!-- Standard button -->
<button type="button" class="btn btn-default" helper_id={{i.id}} id="cantsay">listening first time thats why cant say anything</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary" helper_id={{i.id}} id="abitlike">i like it somewhat</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success" helper_id={{i.id}} id="superawesome">superawesome</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info" helper_id={{i.id}} id="ok">it is okay</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning" helper_id={{i.id}} id="bad">wasnt expecting this from you</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger" helper_id={{i.id}} id="what">what did i just see huh :@</button>
<br/>
</div>
			{% endfor %}

		</div>
