{% extends "base.html" %}
{% load staticfiles %}

    {% block container %}
		<div class="row">

			<form class="form-horizontal" id="suggestForm">

            <div class="form-group">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    			     {{form.songName}}
                </div>
            </div>

            <div class="form-group">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
			{{form.suggestedTo}}
            </div>
            </div>

            <div class="form-group">
            <div class="col-xs-6 col-sm-4 col-sm-offset-2">
			<button type="submit" class="btn btn-primary btn-block">Suggest</button>	
            </div>
            <div class="col-xs-6 col-sm-4">
            <a type="submit"  id="reset" href="/suggest" class="btn btn-warning btn-block">Reset</a>

            </div>
            </div>  
			</form>

		</div>


		
        {% endblock %}



	

	